@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(250, 24, 250, 0.1);
    position: relative;

}
.container{   
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main{
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2;
}

h1{
    font-size: 3em;
}
.h1-color01{
    color: blue;
}
.h1-color02{
    color: red;
}
.h1-color04{
    color: yellow;
}
.h1-color03{
    color: green;
}


input{
    border-radius: 10px;
    padding: 5px;    
}
svg{
    width: 20px;
}
button{
    padding: 5px;
    border-radius: 15px;
}

@media (max-width: 945px) { 
    .container{
        grid-template-columns: 4;
        grid-template-rows:  3;

}

.full-w-100{width: 100%;
}
main{
    grid-column:span 3 ;
    grid-row: 2;
}
}
